{% extends 'base.html' %}
{% block content %}
            <!-- Hero Slider Start -->
        <section class="slider-section">
            <div class="hero-slider-02 owl-carousel anim_class">
                <div class="single-slide bg-img d-flex align-items-center" data-bg-image="{{ hero_slider.background_image.url }}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-content text-center">
                                    <h5 class="sub-title animated">{{ hero_slider.sub_title }}</h5>
                                    <h2 class="animated">{{ hero_slider.main_title }}</h2>
                                    <a href="{% url 'about-us' %}" class="grap-btn to_top animated"> LEARN MORE<i class="nss-long-arrow-alt-right2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layer-left animated">
                        <img src="{{ hero_slider.left_animated_image.url }}" alt="Samsikt">
                    </div>
                    <div class="layer-right animated">
                        <img src="{{ hero_slider.right_animated_image.url }}" alt="Samsikt">
                    </div>
                </div>

            </div>
        </section>
        <!-- Hero Slider End -->
     <!-- Service Start -->
        <section class="service-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6 class="sub-title text-capitalize">What we do</h6>
                        <h2 class="sec-title">Services for You</h2>
                    </div>
                </div>
                <div class="row">
                    {% for service in home_services  %}
                       <div class="col-lg-4 col-md-6">
                        <div class="service-item-03 text-center">
                            <div class="ic-num">
                                <span>{{ service.service_no }}</span>
                                <div class="bar"></div>
                                <i class="graptor-{{ service.service_icon_name }}"></i>
                            </div>
                            <div class="bgicon"><i class="graptor-{{ service.service_icon_name }}"></i></div>
                            <h4><a href="#">{{ service.service_title }}</a></h4>
                            <p>
                                {{ service.service_details }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- Service End -->
        <!-- Work Process Start -->
        <section class="work-process">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h6 class="sub-title text-capitalize">Our Work Process</h6>
                        <h2 class="sec-title">We Complete Every<br> Step Carefully</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box-5 text-center">
                            <span>01</span>
                            <div class="ib-icon">
                                <i class="graptor-data"></i>
                            </div>
                            <h5>Collecting Info Data</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box-5 text-center">
                            <span>02</span>
                            <div class="ib-icon">
                                <i class="graptor-target"></i>
                            </div>
                            <h5>Setup Work Target</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box-5 text-center">
                            <span>03</span>
                            <div class="ib-icon">
                                <i class="graptor-ideas"></i>
                            </div>
                            <h5>Creative Ideas</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Work Process End -->
{% endblock content %}